/* sigin page styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sigin-container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 250px; /* Adjusted width to leave room for padding */
    padding: 8px;
    margin: 0 auto; /* Center the input fields horizontally */
    margin-bottom: 20px;
    display: block;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1da1f2; /* Twitter blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
